<!doctype html>
<html>
   <body>
   
      <h1>Duplicate Results </h1>
      <ul>
      <li>Data Set:           {{ res_dict['summary']['data'] }} </li>
      <li>Correlation_floor:  {{ res_dict['summary']['correlation_floor'] }} </li>
      <li>Generated:          {{ res_dict['summary']['generated'] }} </li>
      </ul>

   <br>

      <h2>Potential Duplicates:</h2>

      <ol type>
          {% for user_dict in res_dict['duplicates']  %}
              <li>{{ user_dict['user'].values() }}</li>

              {# not quite working <li> {{ ','.join(str(x) for x in user_dict['user'].values()) }} #}
              <ol type="a">

              {% for dupe_user in user_dict['dupe_users']: %}

                  <li>{{ dupe_user.values() }}  Correlation=<b>{{dupe_user['correlation']}}</b></li>

              {% endfor %}
               </ol>

         {% endfor %}
      </ol>

      <h2>Non-Duplicates:</h2>
      <ol>
          {% for user_dict in res_dict['non-duplicates']  %}
              <li>{{ user_dict.values() }}</li>
          {% endfor %}
      </ol>

   </body>
</html>
