<!doctype html>
<html>
   <body>

    <h3>Fuzzy match service</h3>
    <b>Two supported requests:</b>
        <ul>
           <li><a href="/?data=normal">  display prior results for normal.csv</a></li>
            <li><a href="/?data=advanced"> display prior results for advanced.csv</a></li>
        </ul>


        <br>
    <b>Correlation_floor setting</b>
                <ul>
                <li>Description: correlation thresehold between users.</li>
                <li>A higher number means users must be more correlated to be considered a duplicate.</li>
                <li>Can be any float between 0.0 and 1.0</li>
                    <li>To use: change CORRELATION_FLOOR constant in common.py and re-run fuzzy_main.py</li>
              </ul>

    {% if err_msg  %}
         <br>
         <p>Error: {{ err_msg}} </p>
     {% endif %}


   </body>
</html>
